:root {
  --fs-ex-sm: 0.711rem;
  --fs-sm: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.375rem;
  --fs-700: 1.776rem;
  --fs-lg: 2.125rem;
  --fs-ex-lg: 2.5rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --lh-N: normal;
  --lh-130: 130%;
  --lh-150: 150%;

  --fm-DS: 'DM Sans', sans-serif;
  --fm-PN: ;

  --clr-hm-bg: linear-gradient(156deg, #ED4690 0%, #52C 100%);
  --clr-normal: #fff;
  --clr-b-gray: #646464;
  --clr-l-gray: #a5a5a5;
  --clr-black: #000;
  --clr-light-black: #272727;
  --clr-l-blue: #1D275F;
  --clr-ft-bg: #0A075F;
  --clr-blue: #3D37F1;
  --clr-bd-blue: #242565;
  --clr-ft-normal: #f3f3f3d4;
  --clr-ft-btn: #959595;
  --clr-sec3-bg: #EEE1FF;
  --clr-red: #F5167E;

  --opt: 0.8999999761581421;
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and Inherit fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/* Set core body defaults */

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.clr-l-gray {
  color: var(--clr-l-gray);
}

.clr-b-gray {
  color: var(--clr-b-gray);
}

.clr-blue {
  color: var(--clr-blue);
}

.clr-l-blue {
  color: var(--clr-l-blue);
}

.clr-bd-blue {
  color: var(--clr-bd-blue)
}

.clr-ft-bg {
  background-color: var(--clr-ft-bg);
}

.clr-black {
  color: var(--clr-black);
}

.clr-red {
  background-color: var(--clr-red);
}

.clr-normal {
  color: var(--clr-normal);
}

.clr-ft-normal {
  color: var(--clr-ft-normal);
}

.text-1 {
  font-size: var(--fs-ex-sm);
  font-weight: var(--fw-500);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-2 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  line-height: var(--lh-150);
  font-family: var(--fm-DS);
}


.text-3 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-500);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-4 {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-5 {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  line-height: var(--lh-150);
  font-family: var(--fm-DS);
}

.text-6 {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-7 {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  font-family: var(--fm-DS);
}

.text-8 {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-130);
  font-family: Arial, Helvetica, sans-serif;
}

.text-9 {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-150);
  font-family: var(--fm-DS);
}

.text-10 {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-11 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-12 {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  font-family: var(--fm-DS);
}

.text-13 {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-14 {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-15 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-700);
  line-height: var(--lh-N);
  font-family: var(--fm-DS);
}

.text-16 {
  font-size: var(--fs-ex-lg);
  font-weight: var(--fw-700);
  line-height: var(--lh-N);
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  gap: 1rem;
}

.mobile-toggle {
  display: none;
}

/* ---------------- HOME PAGE SECTION ---------------- */
#home {
  background-image: url(/asset/home/home-bg-image.svg);
  background-position: cover;
  background-repeat: no-repeat;
  min-height: 720px;
}

.container {
  background: var(--clr-hm-bg);
  opacity: var(--opt);
  min-height: 720px;
  padding: 1rem clamp(2rem, 5vw, 11.063rem);
}

.primary-header {
  justify-content: space-between;
  align-content: center;
}

.primary-navigation {
  flex-wrap: wrap;
  align-items: center;
}

.primary-navigation button {
  width: 6.313rem;
  padding: 0.625rem 1.25rem;
  border-radius: 50px;
  border: 1.5px solid #FFF;
  background: transparent;
  color: var(--clr-normal);
}

.primary-navigation a {
  padding-left: 3rem;
}

.home-main {
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 0rem;

}

.home-image {
  max-width: 37.552rem;
  margin-top: clamp(2rem, 5vw, 97px);
  margin-bottom: clamp(0rem, 5vw, 83px);
  /* padding-right: 42px; */
}

.home-aside {
  max-width: 27.686rem;
  margin-top: clamp(0px, 5vw, 163px);
  margin-bottom: clamp(0rem, 100%, 4rem);
}

.home-aside button {
  width: 182px;
  height: 60px;
  border-radius: 50px;
  color: var(--clr-normal);

}

.btn1 {
  background-color: var(--clr-red);
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
  border: none;
  margin-right: 1rem;
}

.btn2 {
  background-color: transparent;
  border: 1.5px solid var(--clr-normal);
}

/* ---------------- SECTION TWO SECTION ---------------- */
.sec-two {
  display: flex;
  flex-wrap: wrap;
  /* height: 140px; */
  background-color: #0A075F;
  margin: 0 clamp(2rem, 5vw, 18.063rem);
  position: relative;
  bottom: 3.8rem;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);

  & form {
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    & input[type='text'] {
      min-width: 20rem;
      /* height: 1rem; */
      /* width: 30rem; */
    }

    & input,
    label {
      margin-inline-start: 2.5rem;
      border: none;
      background: transparent;
    }

    & input {
      border-bottom: 1px solid white;
    }
  }

}

.sec-header-nav {
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 0rem clamp(2rem, 5vw, 11.063rem);

  &.sec-primary-nav {
    align-items: center;
    flex-wrap: wrap;
  }

  & .sec-primary-nav li {
    min-width: 10.5rem;
    height: 46px;
    border-radius: 50px;
    background: #F2F4FF;
    padding: 0.6rem;
    color: #1D275F;
  }

  & .sec-primary-nav li a {
    flex: 2;
  }

  & .sec-primary-nav li i {
    margin-left: 3rem;
  }
  
}

.sec-main {
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1rem clamp(2rem, 5vw, 11.063rem);

  & .box {
    max-width: 21.440rem;
  }

  & .content-box {
    height: 8.588rem;
    border-radius: 0px 0px 18.953px 18.953px;
    background: #f4f5f7;
    padding: 0 1rem;
  }

  & .other-content {
    flex-direction: column;
    gap: 0rem;

    & p {
      padding-top: 0.5rem;
    }
  }
}

.sec-button {
  justify-content: center;
  margin: 0 auto;
  width: 11.375rem;
  height: 3.75rem;
  margin-block: 1rem;
  border-radius: 3.125rem;
  border: 1.5px solid var(--clr-blue);
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);

  & button {
    background: transparent;
    border: none;
  }
}

/* ---------------- SECTION THREE SECTION ---------------- */
.third-sec-header {
  margin-top: 5rem;
  max-height: 15.75rem;
  background: var(--clr-sec3-bg);
}

.third-container {
  padding: 0rem clamp(2rem, 5vw, 11.063rem);
  flex-wrap: wrap;

  & .section3-image {
    position: relative;
    bottom: 3.3rem;
  }

  & button {
    background: transparent;
    border: none;
    border-radius: 50px;
    background: #F5167E;
    box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
    width: 302px;
    height: 60px;
    margin-top: 1rem;
  }

  & .third-header-content {
    max-width: 26.073rem;
    margin-top: clamp(0rem, 5vw, 2rem);
  }
}

.third-sec-main {
  flex-direction: column;
  padding: 1rem clamp(2rem, 5vw, 11.063rem);
  text-align: center;

  & p {
    max-width: 613px;
    margin: 0 auto;

  }

  & .third-sec-icons,
  .icons1,
  .icons2 {
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}

figure {
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1rem clamp(2rem, 5vw, 11.063rem);

  & .figure-box {
    flex-wrap: wrap;
  }

  & .fg-box {
    width: 343px;
  }

  & h2 {
    padding: 0.6rem 0rem;
  }

  & p {
    padding-bottom: 0.8rem;
  }

  & .figure-button {
    justify-content: center;
    margin: 0 auto;
    width: 11.375rem;
    height: 3.75rem;
    margin-block: 1rem;
    border-radius: 3.125rem;
    border: 1.5px solid var(--clr-blue);
    box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
  }

  & button {
    background: transparent;
    border: none;
  }
}

/* ---------------- FOOTER SECTION ---------------- */

footer {

  & .footer-nav {
    flex-wrap: wrap;
    padding: 2rem clamp(2rem, 5vw, 8.063rem);
  }

  & .footer-box1 {
    max-width: 333px;
    margin-right: 3rem;
  }

  & h1,
  .footer-logo {
    padding: 1rem 0;
  }

  & .footer-box2 {
    max-width: 8rem;
    margin-right: 3rem;
  }

  & .footer-box3 {
    margin-right: 5rem;
  }

  & .footer-box4 {
    width: 362px;

    & p {
      padding-bottom: 0.5rem;
    }

    & input {
      border: none;
      border-radius: 45.595px;
      width: 25rem;
    }

    & .input {
      position: relative;
      /* max-width: 25rem; */
      height: 60.793px;
      border-radius: 45.595px;
      border: 2px solid #F1F1F1;
    }

    & button {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      border-radius: 50px;
      box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
      padding: 0.5rem 1.5rem;
      border: none;
    }
  }

}

.attribution {
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem clamp(2rem, 5vw, 8.063rem);

  & h1 {
    max-width: 1200px;
    height: 1px;
    background: #4C4D8B;
  }

}

@media screen and (min-width: 48rem) and (max-width: 73rem) {

  /* ---------------- SECTION ONE ---------------- */
  .home-main {
    padding: 1rem clamp(2rem, 5vw, 5.063rem);
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .home-aside {
    max-width: 40rem;
    text-align: center;

    & h1,
    p {
      padding-bottom: 0.8rem;
    }

  }

    /* ---------------- SECTION TWO ---------------- */
  .sec-primary-nav {
    flex-wrap: wrap;
  }

  .sec-main {
    justify-content: center;
    margin: 0 auto;

    & .box {
      max-width: 19.440rem;
    }
  }

/* ---------------- SECTION THREE ---------------- */
  .third-sec-header {
    min-height: 30rem;

    & .third-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      & .section3-image {
        max-width: 35rem;
        bottom: 2rem;
      }

      & .third-header-content {
        width: 22.073rem;
        margin-top: -1.5rem;

      }
    }
  }

 /* ---------------- SECTION FOUR ---------------- */
  .figure-box {
    justify-content: center;
    margin: 0 auto;

    & .fg-box {
      max-width: 19.440rem;
    }
  }

  /* FOOTER SECTION */
  .footer-nav {
    justify-content: center;
    margin: 0 auto;

    & .footer-box2,
    .footer-box3 {
      & h1 {
        font-size: var(--fs-600);
      }

    }

    & .footer-box4 {
      text-align: center;

      & h1 {
        font-size: var(--fs-ex-lg);
      }
    }
  }

}

@media screen and (max-width: 48rem) {

/* ---------------- SECTION ONE ---------------- */
  .home-main {
    padding: 1rem clamp(2rem, 5vw, 5.063rem);
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .home-aside {
    max-width: 40rem;
    text-align: center;

    & h1,
    p {
      padding-bottom: 0.8rem;
    }

    & button {
      max-width: 7rem;
      height: 2.5rem;
      margin: 0.5rem 0.3rem;
    }

    & .btn1 {
      margin-right: 0;
    }
  }


    /* ---------------- SECTION TWO ---------------- */
  .sec-primary-nav {
    flex-wrap: wrap;
  }

  .sec-main {
    justify-content: center;
    margin: 0 auto;

    & .box {
      max-width: 19.440rem;
    }
  }
  .sec-header-nav{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

    /* ---------------- SECTION THREE ---------------- */
  .third-sec-header {
    min-height: 25rem;

    & .third-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      & .section3-image {
        max-width: 20rem;
        bottom: 2rem;
      }

      & .third-header-content {
        width: 22.073rem;
        margin-top: -1.5rem;
      }

      & h1:nth-child(2) {
        max-width: 20rem;
        text-align: center;
      }
    }
  }

/* ---------------- SECTION FOUR ---------------- */
  .blog {
    text-align: center;
  }

  .figure-box {
    justify-content: center;
    margin: 0 auto;

    & .fg-box {
      max-width: 19.440rem;
    }
  }

  /* FOOTER SECTION */

  .footer-nav {
    justify-content: center;
    margin: 0 auto;

    & .footer-box1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    & .footer-box1,
    .footer-box2,
    .footer-box3 {
      margin-right: 1rem;
    }

    & .footer-box2,
    .footer-box3 {
      & h1 {
        font-size: var(--fs-600);
      }

    }

    & .footer-box4 {
      max-width: 20rem;
      text-align: center;
      & h1 {
        font-size: var(--fs-600);
      }

      & .placeText {
        width: 100%;
        padding: 2px;
      }

      & button {
        padding: 10px;
        font-size: 15px;
      }
    }
  }


  /* Toggle Button */
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 35%;
    flex-direction: column;
    background-color: #2ec6ce9a;
    backdrop-filter: blur(10px);
    padding-top: 8rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
    z-index: 999;

    & li {
      padding: 0.4rem 0;
    }

    & .primary-navigation a {
      font-weight: var(--fw-bold);
      font-size: var(--fs-200);
      color: var(--clr-footer);
      padding: 1rem 0;
      color: var(--clr-normal);
    }

    & .mobile-toggle {
      display: block;
      position: absolute;
      background-color: transparent;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg);
      background-repeat: no-repeat;
      border: none;
      width: 2rem;
      aspect-ratio: 1;
      top: 1.2rem;
      right: 2rem;
      z-index: 9999;
    }

    & .mobile-toggle[aria-expanded='true'] {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Black_close_x.svg);
      width: 1.5rem;
      aspect-ratio: 1;
      margin: 0.2rem 0;
    }
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

}